<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="RationCardRegisterLog.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="--------\r\n" />
        <param name="Footer" value="--------\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="--------\r\n" />
        <param name="Footer" value="--------\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="Cloud" connectionString="utkccAJQW9lV/k4a0qV4Yi+Lr8Fetiu4i8cPo3IPd1YvU21gMEfLjeoVZ6x4bvuVQQjJY9HmGx2FHH7x53a8aXqa3T9aCSpWMQwuhA8UWNwaf9rOxU6cpwREZhZE9JAQ4zd8Pq9oUvQIcq6tBrke69tp4jrbAcO6ndUveeSBq//978k3KvxYGe/xHbij6WH9iIYhITRXd7EYWMcqdxjNEfi5bHw40rauqSVQUDi32Q0CzSPLmQZPMRNywZKSZ7B3XOZk3vcONme9C2P+1AhBqOK6mEKySWl1zxz48Os1zjLTv/WxH4f15WQudrLWZj4D5RM7FJphtEzvlDoG0Vlqgmaz5/tCTaOzPrimYOv4wwM=" providerName="System.Data.SqlClient" />
    <add name="Local" connectionString="HLxIDZjmlEuM/2ZkngvgKtL55PCkT4h/nllVFyaJWgoVOZ5OkdhZKulBRPTAwAHGfpNqoxuWv1dHSKR10o4UF8LEvboDunbSC2DCjlE3CL51941g7xfW7FPDcPUNIxzEV4FRBImeFciGanfAkybnrMcFmHpI8wuvbUu+dlVnePQ=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="WorkOnline" value="1" />
    <!--It'll choose to connect offline or online DB instance-->
    <add key="MailSecretKey" value="LL14zEth7EK8+f1kE+OdCs6SGe90Vp7YWElUhmQ2t0Dr1fogDPzFaf7wDAEYxeyA" />
    <add key="SuperadminMobileNumber" value="4ZXLkhF50iP/hFrhJxdKJ5Wm2gSZV9vgJoP6e83U0bM=" />
    <add key="CriticalSectionPassword" value="KTCm5OvX6NpnciMPru+tekzrk7V6/z9Z8Q1A9JaTL6A=" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>